#Root_Container {
    text-align: center;
}
#Error_Message {
    color: red;
    font-style: italic;
}

textarea {
    width: 75%;
    height: 50vh;
    resize: none;
    background-color: #eeeeee;
}

img {
    width: 95vw;
}

button {
    border-radius: 0px;
    background-color: #dddddd;
    color: #000;
    font-weight: bold;
    font-style: italic;
}

#Loading_Message {
    font-style: italic;
    font-weight: bold;
}

#Thanks_Message {
    font-weight: 600;
    font-style: italic;
}

#Letter_Counter {
    position : fixed;
    right : 0;
    top: 0;
}